src/main/mule/global/RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-main">
        <http:listener config-ref="RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
        </error-handler>
    </flow>
    <sub-flow name="RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-initializeRequestVariable-Sub_Flow" doc:id="3b4b63c6-e656-447a-bb36-31714eee1367" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-config">
		<flow-ref doc:name="Flow Reference initialize Request Variable" doc:id="ed58970d-2488-4fd2-80d5-67c261602291" name="RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-initializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3676df6-688e-48f8-9b38-5d02483c3463" message="Request Received for Routes TravelOnTip SAPI for TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="ac66a711-412f-419a-b707-087b32fc8a8f" name="travelOnTip-getRoutes-implementation_Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="54431897-a2c5-43a1-9069-8f7f3e1b7d9a" message="Response sent for TravelOnTip SAPI for TransactionId: #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schdules:RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-config">
		<flow-ref doc:name="Flow Reference initialize Request Variable" doc:id="47389174-d877-46ee-ad4a-9fbd84c4c3cb" name="RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-initializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="1b2219bf-95a4-42b6-9041-ad43d27c68c1" message="Request Received for Schedules TravelOnTip SAPI for TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="c6825bcd-d258-409d-a344-595e95c7b9fb" name="travelOnTip-getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="f0f42704-f1c6-47d7-9703-9cfc49af23c7" message="Response sent for Schedules TravelOnTip SAPI for TransactionId: #[vars.transactionId]"/>
    </flow>
</mule>
